{% extends 'main.html' %}
{% load static %}
{% block content %}

<main id="main"
  style="background-image:url('{% static 'images/BG.svg' %}')"
>
   <div class="icon-wrapper-home">
    <a href="/"><img class="home-logo" id="camera-btn" src="{% static 'images/live-chat.png' %}" /></a>
   </div>

   <div id="center-div">
      <div id="header-wrapper">
       <p>Video</p>
       <p>Voice</p>
       <p>Chat</p>
      </div>
      <h2>Communication,<br><span>solved.</span></h2>
      <a href="lobby/"><input type="submit" value="Start Live or Join Live" /></a>
   </div>
    
</main>
<!-- <a href="lobby/">Join Chat</a> -->
{% endblock %}